// Specific CSS for your home-page
.cards-home {
  width: 100%;
  height: 300px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 15px;
}

#form-home {
  width: 30%;
  margin: 10px auto;
}
