<article>
  <section>
    <div class="container-fluid">
      <div class="container row justify-content-center">
        <% @publications.each do |publication| %>
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 card-publications container">
            <div class="d-flex mx-2">
              <div class="avatar" style="background-image: url(<%= publication.photo.attached? ? cl_image_path(publication.photo.key) : 'https://res.cloudinary.com/dgzbf6kp2/image/upload/v1652472231/development/ivoevb9zgmyu06e2bxa6zwf45kqt.jpg' %>)"></div>
            </div>
            <p><%= publication.title %></p>
            <p><%= publication.description %></p>
            <%= link_to "See Publication", publication_path(publication), class: "btn btn-outline-dark" %>
          </div>
        <% end %>
      </div>
    </div>
  </section>
</article>
