<div class="footer-bg">
  <div class="footer text-center">
    <div id="footer-image">
      <img src="https://res.cloudinary.com/dgzbf6kp2/image/upload/c_scale,h_150,q_100,w_1213/v1653319431/development/images-footer_tuzivb.png" alt="footer-ilustracion">
    </div>
    <div class="container">
      <p class="pt-3">Contact us</p>
    </div>
    <div class="footer-links d-flex justify-content-around ">
      <a href="https://github.com/sergioski9" target="_blank"><i class="fab fa-github"></i></a>
      <a href="https://www.instagram.com/TurismTAG/" target="_blank"><i class="fab fa-instagram"></i></a>
      <a href="https://www.facebook.com/sergio.rcruz.18" target="_blank"><i class="fab fa-facebook"></i></a>
      <a href="https://twitter.com/Srgndrscruz" target="_blank"><i class="fab fa-twitter"></i></a>
      <a href="https://www.linkedin.com/in/sergio-cruz-405762235" target="_blank"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="footer-copyright">
      <p>Copyright 2022-2025 DeveloperHero | All Rights Reserved</p>
    </div>
  </div>
</div>
