<article id="informacion sobre tourbol">
  <section id="carousel de tourbol">
    <div id="carouselExampleFade" class="carousel slide carousel-fade text-shadow" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="9000">
          <div class="banner-image text-center text-shadow" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dgzbf6kp2/image/upload/c_scale,h_730,q_100,w_1213/v1653335150/development/home_jualrp.jpg);">
            <div class="banner-letters">
              <h1><strong>Bienvenido a TourBol</strong></h1>
              <p>Infórmese sobre los mejores lugares 🌇 que Bolivia puede ofrecer.</p>
              <p>Para obtener mas informacion sobre los lugares has clic en el botón ⬇ </p>
              <%= link_to "Lugares", places_path, class: "my-5 btn btn-outline-light px-5 rounded-pill" %>
            </div>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="9000">
          <div class="banner-image text-center text-shadow" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dgzbf6kp2/image/upload/c_scale,h_730,q_100,w_1213/v1653334439/development/home-real_i9vrcy.jpg);">
            <div class="banner-letters">
              <h1><strong>Que Tiene TourBol?</strong></h1>
              <p>Informacion detallada sobre los lugares mas conocidos, asi como tambien los menos conocidos.</p>
              <p>Recomendaciones de viaje y equipamiento para ir a los lugares, los cuales te interesan y mucha mas informacion!.</p>
              <p>Ademas puedes encontrar experiencias de personas que ya han visitado el lugar en la seccion de publicaciones.</p>
              <%= link_to "Publicaciones", publications_path, class: "my-5 btn btn-outline-light px-5 rounded-pill" %>
            </div>
          </div>
        </div>
        <div class="carousel-item text-center" data-bs-interval="9000">
          <div class="banner-image text-center text-shadow" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dgzbf6kp2/image/upload/c_scale,h_730,q_100,w_1213/v1653334449/development/home-real-3_ohvzlr.jpg);">
            <div class="banner-letters">
              <h1><strong>Caracteristica de TourBol</strong></h1>
              <p>Ademas de darte informacion valiosa sobre los lugares turistico de Bolivia.</p>
              <p>TourBol tiene una seccion de publicaciones sobre negocios de los lugares que quieras visitar!, como:</p>
              <p>Hoteles, Alojamientos, Cabañas, Restaurantes, Tiendas, Ventas, Recuerdos y mucho mas!</p>
              <%= link_to "Publicaciones", publications_path, class: "my-5 btn btn-outline-light px-5 rounded-pill" %>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </section>
</article>
<article id="informacion de la pagina">
  <section id="lugares">
    <div class="cards-container row justify-content-center container text-center text-shadow my-5">
      <h2><strong>Los Mejores Lugares en TourBol</strong></h2>
      <p><small><em class="text-muted text-shadow">Presiona la imagen para mas informacion</em></small></p>
      <div class="my-5 col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3"  data-aos="fade-up" data-aos-duration="2000">
        <%# cambiar direccion al subir a produccion %>
        <a href="http://localhost:3000/places/2">
          <div class="box-shadow cards-home">
            <div class="text-shadow text-start mx-2 cards-letters-home">
              <p><b>Salar de uyuni</b></p>
              <p><b>Potosí</b></p>
            </div>
          </div>
        </a>
      </div>
      <div class="my-5 col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3"  data-aos="fade-up" data-aos-duration="2000">
        <%# cambiar direccion al subir a produccion %>
        <a href="http://localhost:3000/places/2">
          <div class="box-shadow cards-home">
            <div class="text-shadow text-start mx-2 cards-letters-home">
              <p><b>Salar de uyuni</b></p>
              <p><b>Potosí</b></p>
            </div>
          </div>
        </a>
      </div>
      <div class="my-5 col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3"  data-aos="fade-up" data-aos-duration="2000">
        <%# cambiar direccion al subir a produccion %>
        <a href="http://localhost:3000/places/2">
          <div class="box-shadow cards-home">
            <div class="text-shadow text-start mx-2 cards-letters-home">
              <p><b>Salar de uyuni</b></p>
              <p><b>Potosí</b></p>
            </div>
          </div>
        </a>
      </div>
      <div class="my-5 col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3"  data-aos="fade-up" data-aos-duration="2000">
        <%# cambiar direccion al subir a produccion %>
        <a href="http://localhost:3000/places/2">
          <div class="box-shadow cards-home">
            <div class="text-shadow text-start mx-2 cards-letters-home">
              <p><b>Salar de uyuni</b></p>
              <p><b>Potosí</b></p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </section>
  <section id="informacion">
    <div class="text-shadow banner-secondary row justify-content-center">
      <div class="container row justify-content-center">
        <div class="my-5 text-center text-shadow col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <h2><strong>Infórmate sobre los Lugares y Publicaciones fácilmente</strong></h2>
        </div>
        <div class="border-end col-12 col-sm-12 col-md-4 col-lg-4 col-xl-3 mb-5" data-aos="flip-left">
          <div class="my-3 card-banner-title">
            <div class="card-banner-number">01</div>
            <h4 class="d-inline-block mx-2"><b>Busca un Lugar</b></h4>
          </div>
          <div>
            <p>Escoge de entre todos los lugares que TourBol te puede ofrecer el más ideal para tu visita e infórmate sobre el mismo.</p>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-3 border-end mb-5" data-aos="flip-left">
          <div class="my-3 card-banner-title">
            <div class="card-banner-number">02</div>
            <h4 class="d-inline-block mx-2"><b>Ver Publicaciones</b></h4>
          </div>
          <div>
            <p>¡Puedes crear publicaciones sobre los lugares que has visitado o sobre algún negocio o punto específico del lugar!.</p>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-3 mb-5" data-aos="flip-left">
          <div class="my-3 card-banner-title">
            <div class="card-banner-number">03</div>
            <h4 class="d-inline-block mx-2"><b>Puedes Opinar</b></h4>
          </div>
          <div>
            <p>Puedes dar tu opinión sobre los lugares y mucho mejor aún!, sobre las publicaciones de los diferentes usuarios.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="section informacion sobre el flujo">
    <div class="container text-shadow">
      <div class="container-info row justify-content-center">
        <div class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3 my-5"  data-aos="fade-up" data-aos-duration="2000">
          <div class="card-informacion-home my-5">
            <img src="https://res.cloudinary.com/dgzbf6kp2/image/upload/v1653418903/development/lupa_ya3otm.png">
          </div>
          <div class="text-center">
            <h3>Geolocalización</h3>
            <p>¡Nuestra página cuenta con geolocalización, para tener una exactitud del lugar y hacer más fácil el encontrar los servicios que algunos de los usuarios ofrecen en las publicaciones!, Además, te será más fácil encontrar los lugares.</p>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3 my-5"  data-aos="fade-up" data-aos-duration="2000">
          <div class="card-informacion-home my-5">
            <img src="https://res.cloudinary.com/dgzbf6kp2/image/upload/v1653419780/development/camara_eqnatc.png">
          </div>
          <div class="text-center">
            <h3>Experiencias de Usuarios</h3>
            <p>¡Disfruta de las diferentes experiencias de nuestros usuarios, en la sección de publicaciones donde encontraras referencias de los lugares que quieras visitar!.</p>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3 my-5"  data-aos="fade-up" data-aos-duration="2000">
          <div class="card-informacion-home my-5">
            <img src="https://res.cloudinary.com/dgzbf6kp2/image/upload/v1653419789/development/like-home_o1ycaq.png">
          </div>
          <div class="text-center">
            <h3>Interacción con Usuarios</h3>
            <p>¡Interactúa con los usuarios que suben sus publicaciones!, podrás opinar, valorar y ver publicaciones las cuales te ayudaran a tener una mejor idea del lugar al que quieres visitar.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</article>
