<article>
  <section>
    <div class="container">
      <div class="title">
        <h1 class="mb-4 ">
          Bienvenido a tourbol
        </h1>
        <p class="mt-3">
          Descubre los mejores lugares que Bolivia tiene para ofrecer
        </p>
        <button class="button px-4 mt-3 py-2">Descrubrir lugares</button>
      </div>
      <div class="image-bot">
        <img src="https://res.cloudinary.com/dgzbf6kp2/image/upload/v1655408422/development/Rectangle_4_wmramh.png" alt="llama-mirando">
      </div>
      <div class="image-top">
        <img src="https://res.cloudinary.com/dgzbf6kp2/image/upload/v1655408430/development/Rectangle_5_uzll6q.png" alt="salar de uyuni auto">
      </div>
    </div>
  </section>
  <section>
    <div class="banner">
      <div class="text">
        <h4>Descubre los mejores lugares en tourbol</h4>
        <p class="mt-3">
          Conoce e informate sobre los mejores lugares los cuales puedes visitar
          en Bolivia, te brindamos de informacion valiosa, para planificar tu
          proximo viaje.
        </p>
      </div>
      <div class="back-text">
        <div class="tamaño t1" id="1" style="background-image: linear-gradient(180deg, rgba(32, 36, 43, 0) 30.92%, #20242B 99.25%), url('https://res.cloudinary.com/dgzbf6kp2/image/upload/v1655415891/development/Rectangle_6_wba905.png')">
          <div>
            <p class="font-500"><small>Desierto siloli</small></p>
            <p><small>Potosí</small></p>
          </div>
        </div>
        <div class="tamaño t2" id="2" style="background-image: linear-gradient(180deg, rgba(32, 36, 43, 0) 30.92%, #20242B 99.25%), url('https://res.cloudinary.com/dgzbf6kp2/image/upload/v1655415902/development/Rectangle_9_cx3hxc.png')">
          <div>
            <p class="font-500"><small>Reserva biosfera</small></p>
            <p><small>Beni</small></p>
          </div>
        </div>
        <div class="tamaño t3" id="3" style="background-image: linear-gradient(180deg, rgba(32, 36, 43, 0) 30.92%, #20242B 99.25%), url('https://res.cloudinary.com/dgzbf6kp2/image/upload/v1655415908/development/Rectangle_8_jj1cki.png')">
          <div>
            <p class="font-500"><small>Copacabana</small></p>
            <p><small>La paz</small></p>
          </div>
        </div>
        <div class="tamaño t4" id="4" style="background-image: url('https://res.cloudinary.com/dgzbf6kp2/image/upload/v1655415916/development/Rectangle_7_oo73i1.png')">
          <div>
            <p class="font-500"><small>Laguna colorada</small></p>
            <p><small>Potosí</small></p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="row justify-content-center">
      <div class="col-12 mb-5 container text-inf text-center">
        <h3>infórmate sobre los lugares y publicaciones fácilmente</h3>
      </div>
      <div class=" mt-5 mb-5 px-4 card-info col-4 col-sm-4 col-md-3 col-lg-3 col-xl-3">
        <img class="my-3" src="https://res.cloudinary.com/dgzbf6kp2/image/upload/v1655429685/development/Frame_16_s9ncwb.png" alt="buscar-icono">
        <h5 class="mb-3">Busca un Lugar</h5>
        <p>
          Escoge entre todos los lugares que
          TourBol te puede ofrecer el mas ideal para
          tu visita e informate sobre el mismo.
        </p>
      </div>
      <div class=" mt-5 mb-5 px-4 card-info col-4 col-sm-4 col-md-3 col-lg-3 col-xl-3">
        <img class="my-3" src="https://res.cloudinary.com/dgzbf6kp2/image/upload/v1655429685/development/Frame_17_rg29tu.png" alt="click-icono">
        <h5 class="mb-3">Ver Publicaciones</h5>
        <p>
          Puedes crear publicaciones sobre los lugares
          que has visitado o sobre algún negocio o
          punto específico del lugar.
        </p>
      </div>
      <div class=" mt-5 mb-5 px-4 card-info col-4 col-sm-4 col-md-3 col-lg-3 col-xl-3">
        <img class="my-3" src="https://res.cloudinary.com/dgzbf6kp2/image/upload/v1655429685/development/Frame_18_mggccr.png" alt="mensaje-icono">
        <h5 class="mb-3">Puedes Opinar</h5>
        <p>
          Puedes dar tu opinión sobre los lugares
          y mucho mejor aún!, sobre las publicaciones
          de los diferentes usuarios.
        </p>
      </div>
      <div class=" mt-5 px-4 card-info col-4 col-sm-4 col-md-3 col-lg-3 col-xl-3">
        <img class="my-3" src="https://res.cloudinary.com/dgzbf6kp2/image/upload/v1655429685/development/Frame_16_1_sz0nqx.png" alt="mapa-icono">
        <h5 class="mb-3">Geolocalización</h5>
        <p>
          Nuestra plataforma cuenta con
          geolocalización, esto te hará más fácil
          encontrar todos los servicios en la zona.
        </p>
      </div>
      <div class=" mt-5 px-4 card-info col-4 col-sm-4 col-md-3 col-lg-3 col-xl-3">
        <img class="my-3" src="https://res.cloudinary.com/dgzbf6kp2/image/upload/v1655429685/development/Frame_17_1_qywk0v.png" alt="cara-icono">
        <h5 class="mb-3">Experiencias de Usuarios</h5>
        <p>
          Disfruta de las diferentes experiencias
          de nuestros usuarios en la sección
          de publicaciones.
        </p>
      </div>
      <div class=" mt-5 px-4 card-info col-4 col-sm-4 col-md-3 col-lg-3 col-xl-3">
        <img class="my-3" src="https://res.cloudinary.com/dgzbf6kp2/image/upload/v1655429685/development/Frame_18_1_ekcslz.png" alt="usuarios-icono">
        <h5 class="mb-3">Interacción con Usuarios</h5>
        <p>
          Podrás opinar, valorar y ver publicaciones
          las cuales te ayudaran a tener una mejor
          idea del lugar al que quieres visitar.
        </p>
      </div>
    </div>
  </section>
</article>
