<article>
  <section>
    <div class="container">
      <div class="title">
        <h1 class="mb-4 ">
          Bienvenido a tourbol
        </h1>
        <p class="mt-3">
          Descubre los mejores lugares que Bolivia tiene para ofrecer
        </p>
        <button class="button px-4 mt-3 py-2">Descrubrir lugares</button>
      </div>
      <div class="image-bot">
        <img src="https://res.cloudinary.com/dgzbf6kp2/image/upload/v1655408422/development/Rectangle_4_wmramh.png" alt="llama-mirando">
      </div>
      <div class="image-top">
        <img src="https://res.cloudinary.com/dgzbf6kp2/image/upload/v1655408430/development/Rectangle_5_uzll6q.png" alt="salar de uyuni auto">
      </div>
    </div>
  </section>
  <section>
    <div class="banner">
      <div class="text">
        <h4>Descubre los mejores lugares en tourbol</h4>
        <p class="mt-3">
          Conoce e informate sobre los mejores lugares los cuales puedes visitar
          en Bolivia, te brindamos de informacion valiosa, para planificar tu
          proximo viaje.
        </p>
      </div>
      <div class="back-text">
        <div class="tamaño t1" id="1" style="background-image: linear-gradient(180deg, rgba(32, 36, 43, 0) 30.92%, #20242B 99.25%), url('https://res.cloudinary.com/dgzbf6kp2/image/upload/v1655415891/development/Rectangle_6_wba905.png')">
          <div>
            <p class="font-500"><small>Desierto siloli</small></p>
            <p><small>Potosí</small></p>
          </div>
        </div>
        <div class="tamaño t2" id="2" style="background-image: linear-gradient(180deg, rgba(32, 36, 43, 0) 30.92%, #20242B 99.25%), url('https://res.cloudinary.com/dgzbf6kp2/image/upload/v1655415902/development/Rectangle_9_cx3hxc.png')">
          <div>
            <p class="font-500"><small>Reserva biosfera</small></p>
            <p><small>Beni</small></p>
          </div>
        </div>
        <div class="tamaño t3" id="3" style="background-image: linear-gradient(180deg, rgba(32, 36, 43, 0) 30.92%, #20242B 99.25%), url('https://res.cloudinary.com/dgzbf6kp2/image/upload/v1655415908/development/Rectangle_8_jj1cki.png')">
          <div>
            <p class="font-500"><small>Copacabana</small></p>
            <p><small>La paz</small></p>
          </div>
        </div>
        <div class="tamaño t4" id="4" style="background-image: url('https://res.cloudinary.com/dgzbf6kp2/image/upload/v1655415916/development/Rectangle_7_oo73i1.png')">
          <div>
            <p class="font-500"><small>Laguna colorada</small></p>
            <p><small>Potosí</small></p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container text-inf text-center">
      <h3>infórmate sobre los lugares y publicaciones fácilmente</h3>
    </div>
    <div class="card-info">
      <img src="" alt="">
      <h5>Busca un Lugar</h5>
      <p>

      </p>
    </div>
  </section>
</article>
