.container-info {
  margin: 0 auto;
}

.container-header-publications p {
  margin: 0;
  line-height: 0;
}

.container-header-publications h6 {
  margin: 0;
  line-height: 27px;
}

.container-photo-publications img {
  width: 100%;
  height: 300px;
}

.container-letters-publications p {
  margin: 0;
  line-height: 25px;
}

.container-letters-publication-show {
  margin-top: 100px;
}

#container-center-publi {
  margin: 0 auto;
}
