.text-shadow {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.box-shadow {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.star-yellow {
  color: #fcbf49;
}

.link a {
  margin: 0 auto;
}

.text-footer {
  text-decoration: none;
  color: whitesmoke;
}

.text-footer:hover {
  color: whitesmoke;
  opacity: 0.6;
}

.text-justify {
  text-justify: auto;
}
