.navbar-lewagon {
  justify-content: space-between;
  background: #202938;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-brand h4 {
  font-family: 'Expletus Sans', cursive;
  font-size: 35px;
  margin: 0;
  color: whitesmoke;
}

.navbar-nav a:hover {
  border-bottom: 1px solid #FECA30;
  transition: 0.3s;
}
