<h2>index#place</h2>
<% @places.each do |place| %>
  <p><%= place.name %></p>
  <p><%= place.description %></p>
  <p><%= place.rating %></p>
  <%= link_to "See Place", place_path(place), class: "btn btn-outline-dark" %>
<% end %>
